{% extends 'base_layout.html' %}

{% block body %}
<!-- Background image -->
<div class="bg-image" style="
    background-image: url('{{ url_for('static', filename='img/test.jpg') }}');
    height: 100vh;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="row text-center">
 
        <p class="pre" style="font-size: 100px; color: white;">When baking, follow directions. </p>
        <p class="pre" style="font-size: 75px; color: white;">When cooking, go by your own taste.</p>
       
       </div>
    </div>
  </div>
</div>
  <div class="row text-center">
    <div style="margin-top: 20px;">
      <p style="font-size: 75px;" class="main">Thai Food</p>
    </div>
    {% for i in range(4) %}
    <div class="col-3 text-center">
      <div class="card" style="width: 18rem; margin-left: {{ margins[i] }}; margin-top: 30px; margin-bottom: 30px;">
        <img src="{{ thai_menu[i]['image'] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" ><strong>{{ thai_menu[i]['title'] }}</strong></h5>
          <p class="card-text"></p>
          <a href="/search/{{ thai_menu[i]['id'] }}" class="btn btn-outline-primary p">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="row text-center">
    <div style="margin-top: 20px;">
      <p style="font-size: 75px;" class="main">Beverages</p>
    </div>

    {% for i in range(4) %}
    <div class="col-3 text-center">
      <div class="card" style="width: 18rem; margin-left: {{ margins[i] }}; margin-top: 30px; margin-bottom: 30px;">
        <img src="{{ drink[i]['image'] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" ><strong>{{ drink[i]['title'] }}</strong></h5>
          <p class="card-text"></p>
          <a href="/search/{{ drink[i]['id'] }}" class="btn btn-outline-primary p">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
{% endblock %}