{% extends 'base_layout.html' %}

{% block body %}
<div class="card ml-auto mr-auto mt-3 mb-3" style="width:400px">
    <div class="card-header" style="background-color: #212F3D;"><h3 style="color: white;">About me</h3></div>
    
    <div class="card-body ">
      <img class="card-img-top" src="https://scontent.fbkk2-7.fna.fbcdn.net/v/t1.0-9/137675457_1727692994059464_8048487245441919639_n.jpg?_nc_cat=106&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGMVPtdYzUD390t6YtBFc5-621YJIInkV7rbVgkgieRXtV_-TZiy5MSjo1O3bK5RgHHsosEkR_p8uRuhFbEQkx1&_nc_ohc=5PdD5bcX1wgAX_gPf5Y&_nc_ht=scontent.fbkk2-7.fna&oh=7d06db5d1f64e71444b58f8928f4aaa2&oe=603E07CD" alt="Card image" style="width:100%">
     
      <h4 class="card-title mt-2">สุวัจชัย เครือประสิทธิ์</h4>
      <p class="card-text">รหัส 62102010191</p>
      
    </div>
  </div>
{% endblock %}