<nav class="navbar navbar-expand-sm " style="background-color: #212F3D; height: 70px">
   
    <!-- Links -->
    <ul class="navbar-nav h-100 " style=" margin-left: 50px; font-size: 25px;">
      <li class="nav-item">
        <a class="nav-link nav-text" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="/search">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="/about">ME</a>
      </li>
    </ul>
  </nav>