{% extends 'base_layout.html' %}
{% block body %}

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz สุวัจชัย 191</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="text-center">
    <h1 class="text-center">Book</h1>
 <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Height</th>
                <th>Publisher</th>
            </tr>
        </thead>

        <tbody>
            {% for i in books %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.author }}</td>
                <td>{{ i.genre }}</td>
                <td>{{ i.height }}</td>
                <td>{{ i.publisher }}</td>
                <td><a href="/update/{{ i.title }}" class="btn btn-success">Update</a>
                <button data-id="{{ i.title }}" class="btn btn-danger delete">Delete</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary mb-5"><a href="insert">insert</a></button>

<div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color: rgb(184, 44, 44);">ยืนยันการลบข้อมูล</h4>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <h1 class="font-danger">จะลบจริงอ้ะ?</h1>
        </div>
        <div class="modal-footer ">
          <button data-id="" class="btn btn-success yes">ยืนยัน</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
        </div>
      </div>
  
    </div>
  </div>

{% endblock body %}