<div class="footer text-white text-center d-flex justify-content-center">
    <div  style="background-color: #212F3D; width:100%; height: 175px;">
     
      
      <h5 class="col " style="margin-top: 10px;">&copy; suwatchai khruaprasit</h5>
      <h5 class="col">Email:  <a  href="mailto:suwatchai.kps@g.swu.ac.th">suwatchai.kps@g.swu.ac.th</a></h5>
      <h5>Contact</h5>
      <h5 class="col">F:<a  href="https://web.facebook.com/suwatchai55/" target="_blank"> suwatchai khruaprasit  </a></h5>
      <h5 class="col">IG:<a  href="https://www.instagram.com/jakop_j/" target="_blank"> jakop_j  </a></h5>
    </div>
  </div>